body{
    background-color: #FFF6B7;
}
h1{
    font-family: 'arial';
    text-align: center;
}

.wrap{
    display:flex;
    justify-content: center;
    background: linear-gradient(#22054F, #9065D1, #28CFFD);
    margin-top : 100px;
    margin-left: 60px;
    margin-right : 60px;
    border-radius: 40px;
    padding-bottom : 40px;
}

button{
    padding : 10px;
    padding-left : 20px;
    padding-right : 20px;
    border-radius : 15px;
    background-size: cover;
    font-weight: lighter;
    
}
.stone-but{
    background-image: url('Stone.jpg');
}
.Paper-but{
    background-image: url('Paper.jpg');
}
.Scissor-but{
    background-image: url('Scissor.jpg');
}
.reset{
    background-color: rgba(216, 255, 21, 0.696);
    padding : 39px;
    padding-bottom : 40px;
    border-radius: 121px;
    background-image : url(reset.jpg);
    background-size: cover;
}